Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Mail
Flask-Migrate
Werkzeug
python-dotenv
email-validator
WTForms
WTForms-SQLAlchemy
psycopg2-binary
Pillow
requests
icalendar>=4.1.0
python-dateutil>=2.8.2
pytz
gunicorn
boto3
python-magic
twilio