Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Mail
Flask-Migrate
Werkzeug
python-dotenv
email-validator
WTForms
WTForms-SQLAlchemy
psycopg2-binary
Pillow
requests
icalendar
python-dateutil
pytz
gunicorn
boto3
python-magic
twilio